

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color:  rgb(240,245,240);
    font-family: arial, sans-serif;
}

.todo-header{
    color: rgb(166,233,168);
    font-size: 30px;

    &__title{
        margin-bottom: 20px;
    }
}

.todo-form{
    &__input{
        padding: 10px;
        background-color: rgb(236,250,237);
        border: none;
        width: 200px;
        font-size: 18px;
        outline-color: gray;

        &::placeholder{
            color: rgb(166,233,168);
        }
    }

}

.todo-list{
    width: 100%;

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__item-delete{
        width: 20px;
        height: 20px;
        text-align: center;
        padding-top: 1px;
        border: 2px solid black;
        border-radius: 5px;

        &:hover{
            background-color: red;
            color: white;
            border: 2px solid white;
        }
    }
}

